{% extends 'layout.jinja2' %}
{% from "partials/sse.jinja2" import sse_stream %}

{% block body %}
    <div class="container mt-4">
        <h1 class="h3">Dashboard</h1>

        {#   Visualization Container     #}
        {# TODO: Highlight that the listener div will be rendered here.     #}
        {% if sse_config %}
            {{ sse_stream(sse_config) }}
        {% endif %}

        <form action="{{ url_for('trigger_streaming') }}" method="POST" class="mt-4">
            {% include 'partials/form.jinja2' %}
        </form>


        <div class="container mt-5" style="margin-left: -25px">
            {#   TODO: Highlight Targeting this div for swap     #}
            <div id="linechart"></div>
        </div>

    </div>
{% endblock %}